.stock-container {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#stock-name-row {
    height: 20%;
}

#stock-price-row {
    height: 20%;
}

#info-row {
    height: 15%;
}

#stock-company-name {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.75vw;
}

#exchange-name {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.75vw;
}

#stock-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    align-self: center;
}

#last-price-update {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.75vw;
    align-self: center;
    margin-left: 5%;
}

#stock-graph-image {
    width: 80%;
    height: 80%;
}

#stock-name-container {
    align-self: center;
}

.info-row-title {
    align-self: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1vw;
}

.info-row-value {
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1vw;
}

