.stock-container {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#stock-name-row {
    height: 20%;
}

#stock-price-row {
    height: 20%;
    margin-top: 0.5%;
    margin-bottom: 0.25%;
}

#stock-company-name {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 2vw;
}

#exchange-name {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.75vw;
}

#stock-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    align-self: center;
}

#stock-price-percentage {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:  1.25vw;
    align-self: center;
    margin-left: 5px;
}

#last-price-update {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.85vw;
    align-self: center;
    margin-left: 5%;
}

#stock-graph-image {
    width: 80%;
    height: 80%;
}

#stock-name-container {
    align-self: center;
}

#stock-details-column {
    padding: 0 3%;
}

#stock-price-header {
    display: flex;
    align-items: center;
}

